<div class="container">
  <div class="widget green">
    <div class="icon">
      <i class="fas fa-location"></i>
    </div>
    <div class="value">
      <div class="top">06</div>
      <div class="bottom">Location</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <i class="fas fa-location"></i>
    </div>
    <div class="value">
      <div class="top">151</div>
      <div class="bottom">Shops</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <i class="fas fa-location"></i>
    </div>
    <div class="value">
      <div class="top">258</div>
      <div class="bottom">Product Sold</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <i class="fas fa-location"></i>
    </div>
    <div class="value">
      <div class="top">240</div>
      <div class="bottom">Total Revenue</div>
    </div>
  </div>
 </div>
