.form-check {
  max-width: 86%;
  .card {
    .card-body {
      .row{
        img{
          width: 100%;
        }
        .form-register {
          .field-error {
            display: block; /* Ensure the error messages are displayed as block elements */
            margin-bottom: 0.5rem;
          }

          .field-error small {
            font-size: 0.8rem;
          }
          }
        }
      }
    }
  }


// Mobile styles
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .card {
    border-radius: 10px;
  }

  .col-6 {
    width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .form-register {
    margin-top: 20px;
  }

  .btn-lg {
    font-size: 1rem;
  }

  .text-center {
    text-align: center;
  }
}
