<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="text-primary mb-4">Please enter your email to search for your account:</label>
        <input type="email" id="email" formControlName="email" placeholder="Please enter your email">
      </div>
      <div class="field-error" id="form3Example3c"
      *ngIf="getControl('email')?.errors && getControl('email')?.touched">
      <small class="text-danger" style="font-size: 14px;" *ngIf="getControl('email')?.errors?.['required']">Email is
        required.</small>
    </div>
    <div class="field-error" id="form3Example3c"
      *ngIf="getControl('email')?.errors && getControl('email')?.touched">
      <small class="text-danger" style="font-size: 14px" *ngIf="getControl('email')?.errors?.['email']">Email is
        invalid.</small>
    </div>
      <button type="submit" class="btn-submit" routerLink="" [disabled]="!forgotPasswordForm.valid">Submit</button>
    </form>
  </div>
</div>
